* { 
    font-family: sans-serif;
}

:root {
    --navy2: #351c75;
    --purple2: #bd60e7;
    --grey2: #959595;
    --lavender2: #d9d3e9;
}

p {
    line-height: 0rem;
    font-weight: bold;
}

h2 {
    color: var(--grey2);
    padding-top: .25rem;
}

ul {
    margin-top: -4em;
}

li {
    list-style-type: none;
    background-color: var(--lavender2);
    padding: .125em 2em;
    margin-left: -3em;
    min-width: 12.5vw;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main button {
    margin: .5rem;
    color:white;
    background-color: var(--navy2);
    border-radius: .5rem;
    font-size: large;
    padding: .75rem 1.5rem;
    border: none;
}

main button:hover {
    background-color: var(--purple2);
}

#submit {
    margin: .5rem;
    color:white;
    background-color: var(--navy2);
    border-radius: .25rem;
    padding: .5rem 1rem;
    border: none;
}

#submit:hover {
    background-color: var(--purple2);
}

main div {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main ul {
    display: flex;
    flex-direction: column;
    margin-left: -3rem;
}

#answersDiv {
    max-width: 38vw;
}

#answerBtn {
    text-align: left;
    max-width: 25vw;
    padding-right: 3rem;
}

#feedback-div {
    border-top: 2px solid var(--grey2);
    min-width: 38vw;
    margin-top: -.25rem;
}

#high-scores-link {
    color: var(--purple2);
    font-weight: bolder;
    text-decoration: none;
}

#rules-text {
    margin-bottom: 3rem;
}